*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

body.lightbox-mode {
  background: rgba(0,0,0,0.85);
}

.lightbox h2 {
  color: white;
}

button.nav {
  background: transparent;
  border: none;
  color: white;
  font-size: 80px;
  margin: 0 20px;
  vertical-align: middle;
}

button.nav:hover {
  background: rgba(222,222,222,0.15);
}

#image-grid-container {
  margin: 0px auto;
  max-width: 1300px;
  overflow: hidden;
  padding: 10px 20px;
}

.lightbox {
  background: rgba(0,0,0,0.85);
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

.lightbox img {
  border: 3px solid white;
  margin-top: 10px;
  max-height: 100%;
  max-width: 90%;
}

.image-thumbnail-container {
  border: 1px solid #eeeeee;
  float: left;
  line-height: 200px;
  max-height: 240px;
  padding: 20px;
  text-align: center;
  width: 25%;
}

.image-thumbnail-container img {
  max-height: 200px;
  max-width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

@media screen and (max-width:800px) {
  .image-thumbnail-container {
    width: 50%;
  }
}

@media screen and (max-width:400px) {
  .image-thumbnail-container {
    padding: 10px;
    width: 100%;
  }
}

.image-thumbnail-container[data-color='1'] {
  background-color: #443642;
}

.image-thumbnail-container[data-color='2'] {
  background-color: #E01765;
}

.image-thumbnail-container[data-color='3'] {
  background-color: #70CADB;
}

.image-thumbnail-container[data-color='4'] {
  background-color: #3EB890;
}

/*https://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/*/
@-ms-viewport {
  width: device-width;
}